modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FutureStack Dev"

[[workflows.workflow]]
name = "FutureStack Dev"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd futurestack && npm run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 6000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8288
externalPort = 3001

[[ports]]
localPort = 8289
externalPort = 3002

[[ports]]
localPort = 8290
externalPort = 6800

[[ports]]
localPort = 8291
externalPort = 8000

[userenv]

[userenv.shared]
NEXT_PUBLIC_SUPABASE_URL = "https://nuyigpwhmyiogfzsdvzw.supabase.co"
NEXT_PUBLIC_VAPID_PUBLIC_KEY = "BP0VvcA4VlOtarH_6xjpTaVz9zVXOquR-pQQ8GAYPbOfsQdxgTaOKE3MLJfKBO0P6PAccOQLpE6RYcGjJKdS6mM"
VAPID_PUBLIC_KEY = "BP0VvcA4VlOtarH_6xjpTaVz9zVXOquR-pQQ8GAYPbOfsQdxgTaOKE3MLJfKBO0P6PAccOQLpE6RYcGjJKdS6mM"
VAPID_PRIVATE_KEY = "kNKgAxQQOw_e0fOlWTAK3I0bTjd_WhQ52T8vd2npkys"
VAPID_SUBJECT = "mailto:hello@discova.africa"
SUPABASE_MANAGEMENT_TOKEN = "sbp_11302c6d35f6a1ac36ac44141580957d1ed1ef69"
